<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

        <import resource="applicationContext.xml" />

        <!-- 配置自动扫描的包 -->
        <context:component-scan base-package="com.allen.imsystem.*"/>
        <context:component-scan base-package="com.allen.imsystem.common.exception"/>
        <!-- DispatcherServlet不处理静态资源,交给服务器默认的servlet处理 -->
        <mvc:default-servlet-handler />

<!--        &lt;!&ndash; 启用annotation &ndash;&gt;-->
<!--        <mvc:annotation-driven />-->

    <!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图 -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/views/jsp/"/>
            <property name="suffix" value=".jsp"/>
        </bean>
        <!-- 视图解析器配置结束       -->

        <!-- 使用fastjson作为Spring MVC 的json转换器           -->
        <mvc:annotation-driven>
<!--            <mvc:message-converters>-->
<!--                <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"/>-->
<!--            </mvc:message-converters>-->
        </mvc:annotation-driven>

        <!-- 配置文件上传处理器          -->
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <property name="maxUploadSize" value="5242880"/>
            <property name="maxInMemorySize" value="0"/>
        </bean>
        <!-- 配置文件上传处理器结束          -->

        <!-- spring参数校验器 -->
        <mvc:annotation-driven validator="validator" />
        <bean id="validator"
              class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
            <!-- 校验器 -->
            <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
            <!-- 指定校验使用的资源文件，如果不指定则默认使用classpath下的ValidationMessages.properties -->
<!--            <property name="validationMessageSource" ref="messageSource" />-->
        </bean>

<!--        &lt;!&ndash; 自定义校验异常处理器       &ndash;&gt;-->
<!--        <bean id="validationExceptionResolver" class="com.allen.imsystem.common.exception.ValidationExceptionResolver"/>-->

        <!-- 校验错误信息配置文件 -->
        <bean id="messageSource"
              class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
            <!-- 资源文件名 -->
            <property name="basenames">
                <list>
                    <value>classpath:validation.validationMessage</value>
                </list>
            </property>
            <!-- 资源文件编码格式 -->
            <property name="fileEncodings" value="utf-8" />
            <!-- 对资源文件内容缓存时间，单位秒 -->
            <property name="cacheSeconds" value="120" />
        </bean>

</beans>