<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allen.imsystem.chat.mappers.ChatSessionMapper">

    <resultMap id="chatSessionDTOMap" type="com.allen.imsystem.chat.model.vo.ChatSession">
        <id property="chatId" column="chat_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="talkTitle" column="talkTitle"/>
        <result property="avatar" column="avatar"/>
        <result property="lastMessage" column="last_msg_content"/>
        <result property="isGroupChat" column="isGroup" jdbcType="TINYINT" javaType="java.lang.Boolean"/>
        <result property="lastMessageDate" column="last_msg_create_time"/>
        <result property="friendId" column="friend_id"/>
        <result property="gid" column="gid"/>
        <result property="lastSenderName" column="lastSenderName"/>
        <result property="updateTime" column="update_time"/>
        <result property="isGroupChat" column="isGroup" javaType="java.lang.Boolean" />
    </resultMap>

    <resultMap id="msgRecordMap" type="com.allen.imsystem.message.model.vo.MsgRecord">
        <id property="messageId" column="msg_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="messageType" column="msg_type"/>
        <result property="messageText" column="content"/>
        <result property="msgTimeDate" column="created_time"/>
        <result property="messageImgUrl" column="resource_url"/>
        <result property="groupAlias" column="user_alias"/>
        <result property="fromUid" column="from_uid"/>
        <association property="fileInfo" resultMap="fileInfoMap"/>
    </resultMap>

    <resultMap id="fileInfoMap" type="com.allen.imsystem.file.model.MsgFileInfo">
        <result property="fileName" column="file_name"/>
        <result property="downloadUrl" column="resource_url"/>
        <result property="size" column="size" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="chatSessionInfoMap" type="com.allen.imsystem.chat.model.vo.ChatSessionInfo">
        <id property="chatId" column="chat_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="title" column="title"/>
        <result property="srcId" column="src_id"/>
        <result property="destId" column="dest_id"/>
        <result property="isGroup" column="isGroup" javaType="java.lang.Boolean" jdbcType="TINYINT"/>
        <result property="gid" column="dest_id"/>
        <result property="groupAlias" column="user_alias"/>
    </resultMap>



</mapper>