<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allen.imsystem.mappers.ChatMapper">

    <resultMap id="chatSessionDTOMap" type="com.allen.imsystem.model.dto.ChatSession">
        <id property="chatId" column="chat_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="talkTitle" column="talkTitle"/>
        <result property="avatar" column="avatar"/>
        <result property="lastMessage" column="last_msg_content"/>
        <result property="isGroupChat" column="isGroup" jdbcType="TINYINT" javaType="java.lang.Boolean"/>
        <result property="lastMessageDate" column="last_msg_create_time"/>
        <result property="friendId" column="friend_id"/>
        <result property="gid" column="gid"/>
        <result property="lastSenderName" column="lastSenderName"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="msgRecordMap" type="com.allen.imsystem.model.dto.MsgRecord">
        <id property="messageId" column="msg_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="messageType" column="msg_type"/>
        <result property="messageText" column="content"/>
        <result property="msgTimeDate" column="created_time"/>
        <result property="messageImgUrl" column="resource_url"/>
        <result property="groupAlias" column="user_alias"/>
        <result property="fromUid" column="from_uid"/>
        <association property="fileInfo" resultMap="fileInfoMap"/>
    </resultMap>

    <resultMap id="fileInfoMap" type="com.allen.imsystem.model.dto.MsgFileInfo">
        <result property="fileName" column="file_name"/>
        <result property="downloadUrl" column="resource_url"/>
        <result property="size" column="size" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="chatSessionInfoMap" type="com.allen.imsystem.model.dto.ChatSessionInfo">
        <id property="chatId" column="chat_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="title" column="title"/>
        <result property="srcId" column="src_id"/>
        <result property="destId" column="dest_id"/>
        <result property="isGroup" column="isGroup" javaType="java.lang.Boolean" jdbcType="TINYINT"/>
        <result property="gid" column="dest_id"/>
        <result property="groupAlias" column="user_alias"/>
    </resultMap>


    <!-- 获取某用户所有有效的群聊会话列表 -->
    <select id="selectGroupChatList" resultMap="chatSessionDTOMap">
        SELECT ucg.gid,ucg.chat_id,cg.group_name as talkTitle ,ui.username as lastSenderName,cg.update_time,
        CONCAT('${@com.allen.imsystem.common.Const.GlobalConst$Path@AVATAR_URL}',cg.avatar) as avatar,
        gmr.content as last_msg_content, gmr.created_time as last_msg_create_time, 1 as isGroup
        FROM user_chat_group as ucg
        INNER JOIN chat_group as cg ON ucg.gid = cg.gid
        LEFT JOIN user_info as ui ON cg.last_sender_id = ui.uid
        LEFT JOIN group_msg_record as gmr ON cg.last_msg_id = gmr.msg_id
        WHERE ucg.uid = #{uid} AND ucg.`should_display`=1
        ORDER BY update_time DESC
    </select>

    <!--    获取群聊聊天记录-->
    <select id="selectGroupChatHistoryMsg" resultMap="msgRecordMap">
        SELECT gmr.msg_id,gmr.msg_type,gmr.content,gmr.created_time,gmr.sender_id as from_uid,
        fm.file_name,fm.size,
        CONCAT('${@com.allen.imsystem.common.Const.GlobalConst$Path@RESOURCES_URL}',fm.url) as resource_url,
        ucg.user_alias
        FROM group_msg_record as gmr
        LEFT JOIN user_chat_group as ucg ON ucg.uid = gmr.sender_id
        LEFT JOIN file_msg_md5 as fm ON fm.md5 = gmr.file_md5
        WHERE (gmr.gid= #{gid} AND ucg.gid=#{gid}) OR (gmr.sender_id=#{gid})
        <if test="beginMsgId != null">
            AND gmr.msg_id &lt;= #{beginMsgId}
        </if>
        ORDER BY gmr.msg_id DESC
        LIMIT #{pageBean.from},#{pageBean.offset}
    </select>

    <!--    获取一个群聊会话的一些信息-->
    <select id="selectGroupChatData" resultMap="chatSessionInfoMap">
        SELECT ucg.chat_id,ucg.gid as dest_id,cg.owner_id as src_id,1 as isGroup, group_name as title,ucg.user_alias
        FROM user_chat_group as ucg
        INNER JOIN chat_group as cg ON ucg.gid = cg.gid
        WHERE ucg.chat_id = #{chatId}
        LIMIT 1
    </select>

    <!--    某群聊会话聊天记录总条数-->
    <select id="countAllGroupHistoryMsg" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM group_msg_record as gmr
        WHERE gmr.gid=#{gid} AND gmr.`status` = 1 AND created_time &lt; #{beginTime}
    </select>



</mapper>