<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.imsystem.mappers.PrivateMsgRecordMapper">

    <resultMap id="BaseResultMap" type="com.allen.imsystem.model.pojo.PrivateMsgRecord">
        <id column="msg_id" jdbcType="BIGINT" property="msgId"/>
        <result column="msg_type" jdbcType="SMALLINT" property="msgType"/>
        <result column="chat_id" jdbcType="BIGINT" property="chatId"/>
        <result column="from_uid" jdbcType="VARCHAR" property="fromUid"/>
        <result column="to_uid" jdbcType="VARCHAR" property="toUid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl"/>
        <result column="file_md5" jdbcType="VARCHAR" property="fileMd5"/>
        <result column="has_read" jdbcType="BOOLEAN" property="hasRead"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="msgRecordMap" type="com.allen.imsystem.model.dto.MsgRecord">
        <id property="messageId" column="msg_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="messageType" column="msg_type"/>
        <result property="messageText" column="content"/>
        <result property="msgTimeDate" column="created_time"/>
        <result property="messageImgUrl" column="resource_url"/>
        <result property="groupAlias" column="user_alias"/>
        <result property="fromUid" column="from_uid"/>
        <association property="fileInfo" resultMap="fileInfoMap"/>
    </resultMap>

    <resultMap id="fileInfoMap" type="com.allen.imsystem.model.dto.MsgFileInfo">
        <result property="fileName" column="file_name"/>
        <result property="downloadUrl" column="resource_url"/>
        <result property="size" column="size" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        msg_id, msg_type, chat_id, from_uid, to_uid, content, resource_url, file_md5, has_read,
        `status`, created_time, update_time
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pri_msg_record
        where msg_id = #{msgId,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from pri_msg_record
        where msg_id = #{msgId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="msg_id" keyProperty="msgId"
            parameterType="com.allen.imsystem.model.pojo.PrivateMsgRecord"
    >
        insert into pri_msg_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                msg_id,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="chatId != null">
                chat_id,
            </if>
            <if test="fromUid != null">
                from_uid,
            </if>
            <if test="toUid != null">
                to_uid,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="resourceUrl != null">
                resource_url,
            </if>
            <if test="fileMd5 != null">
                file_md5,
            </if>
            <if test="hasRead != null">
                has_read,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                #{msgId, jdbcType=BIGINT},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=SMALLINT},
            </if>
            <if test="chatId != null">
                #{chatId,jdbcType=BIGINT},
            </if>
            <if test="fromUid != null">
                #{fromUid,jdbcType=VARCHAR},
            </if>
            <if test="toUid != null">
                #{toUid,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="resourceUrl != null">
                #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="fileMd5 != null">
                #{fileMd5,jdbcType=VARCHAR},
            </if>
            <if test="hasRead != null">
                #{hasRead,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                #{status,jdbcType=BOOLEAN},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.allen.imsystem.model.pojo.PrivateMsgRecord">
        update pri_msg_record
        <set>
            <if test="msgId != null">
                msg_id = #{msgId, jdbcType=BIGINT},
            </if>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=SMALLINT},
            </if>
            <if test="chatId != null">
                chat_id = #{chatId,jdbcType=BIGINT},
            </if>
            <if test="fromUid != null">
                from_uid = #{fromUid,jdbcType=VARCHAR},
            </if>
            <if test="toUid != null">
                to_uid = #{toUid,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="resourceUrl != null">
                resource_url = #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="fileMd5 != null">
                file_md5 = #{fileMd5,jdbcType=VARCHAR},
            </if>
            <if test="hasRead != null">
                has_read = #{hasRead,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BOOLEAN},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where msg_id = #{msgId,jdbcType=BIGINT}
    </update>

    <!--获取私聊聊天记录-->
    <select id="findMsgRecordList" resultMap="msgRecordMap">
        SELECT msg_id , msg_type, content, from_uid,
        CONCAT('${@com.allen.imsystem.common.Const.GlobalConst$Path@RESOURCES_URL}',fm.url) as resource_url,
        fm.file_name , fm.size, mr.created_time
        FROM pri_msg_record as mr
        LEFT JOIN file_msg_md5 as fm ON mr.file_md5 = fm.md5
        <where>
            <if test="chatId != null">
                mr.chat_id = #{chatId}
            </if>
            <if test="beginMsgId != null">
                AND mr.msg_id &lt;= #{beginMsgId}
            </if>
        </where>
        ORDER BY mr.msg_id DESC
        LIMIT #{pageBean.from},#{pageBean.offset}
    </select>

    <!--    获取用户私聊会话的未读信息-->
    <select id="countPrivateChatUnReadMsgForUser" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM pri_msg_record WHERE chat_id = #{chatId} AND to_uid = #{uid} AND has_read=0
    </select>

    <!--    某私聊会话聊天记录总条数-->
    <select id="countAllPrivateHistoryMsg" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM pri_msg_record
        WHERE chat_id = #{chatId} AND status = 1 AND created_time &lt; #{beginTime}
    </select>

    <!--    标记所有某私聊所有信息已读-->
    <update id="setAllPrivateChatMsgHasRead">
        UPDATE pri_msg_record SET has_read = 1 WHERE chat_id=#{chatId} AND to_uid=#{uid}
    </update>
</mapper>