<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.allen.imsystem.dao.mappers.UserMapper">

    <!-- resultMap标签:映射实体与表
         type属性：表示实体全路径名
         id属性：为实体与表的映射取一个任意的唯一的名字
    -->
    <resultMap type="com.allen.imsystem.model.pojo.User" id="UserMap">
        <!-- id标签:映射主键属性
             result标签：映射非主键属性
             property属性:实体的属性名
             column属性：表的字段名
        -->
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="email" column="email"/>
        <result property="tel" column="tel"/>
        <result property="roleId" column="role_id"/>
        <result property="status" column="status"/>
        <result property="createdTime" column="created_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.allen.imsystem.model.pojo.UserInfo" id="UserInfoMap">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="iconId" column="icon_id"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="desc" column="desc"/>
        <result property="regionId" column="regionId"/>
        <result property="createdTime" column="created_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- SQL语句 -->
    <select id="selectUserWithUid" resultMap="UserMap">
        SELECT * FROM `user` WHERE uid = #{uid}
    </select>

    <select id="selectUserWithEmail" resultMap="UserMap">
        SELECT * FROM `user` WHERE email = #{email}
    </select>

    <select id="selectAllUser" resultMap="UserMap">
        SELECT * FROM `user`
    </select>

    <select id="selectCountUid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `user` WHERE uid = #{uid}
    </select>

    <select id="selectCountEmail" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `user` WHERE email = #{email}
    </select>

    <select id="selectNextUnUsedUid" resultType="com.allen.imsystem.model.pojo.UidPool">
        SELECT * FROM uid_pool WHERE has_used = 0 LIMIT 1
    </select>

    <insert id="insertUser" parameterType="com.allen.imsystem.model.pojo.User" >
        INSERT INTO `user` (uid,password,salt,email)
        VALUES (#{uid},#{password},#{salt},#{email})
    </insert>

    <insert id="insertUserInfo" parameterType="com.allen.imsystem.model.pojo.UserInfo" >
        INSERT INTO `user_info` (uid,username,icon_id)
        VALUES (#{uid},#{username},#{iconId})
    </insert>

    <update id="sortDeleteUsedUid" parameterType="java.lang.Integer">
        UPDATE uid_pool SET has_used = 1 WHERE id=#{id}
    </update>

    <update id="updateUserInfo" parameterType="com.allen.imsystem.model.pojo.UserInfo">
        UPDATE `user`
        SET username = #{username},icon_id = #{iconId},
        gender = #{gender},age=#{age}, `desc`=#{desc},region_id=#{regionId},update_time=#{updateTime}
        WHERE uid=#{uid}
    </update>

    <update id="updateUser" parameterType="com.allen.imsystem.model.pojo.User">
        UPDATE `user`
        SET password = #{password},salt = #{salt},
        email=#{email},tel=#{tel}, status=#{status},role_id=#{roleId},update_time=#{updateTime}
        WHERE uid=#{uid}
    </update>

    <insert id="insertBatchIntoUidPool" parameterType="java.util.List" useGeneratedKeys="false">
        insert into uid_pool
        (uid)
        values
        <foreach collection="list" item="str"  separator=",">
            (#{str})
        </foreach>
    </insert>

</mapper>


