<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" >
    <title></title>
<body>
<div>
    <h1>您好，感谢使用imsystem，您正在使用邮箱认证，本次请求的验证码是：</h1>
    <hr>
    <span style="font-size: 20px">${emailCode}</span><br>
    <p>为了你的账号安全，请在20分钟内完成验证</p>
    <hr>
    <p>发送时间： ${sendTime}</p>
</div>

</body>
</html>